version: '3.8'

services:
  backend:
    image: ${{ secrets.DOCKER_USERNAME }}/devlearn-backend:latest
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=production
    restart: always

  frontend:
    image: ${{ secrets.DOCKER_USERNAME }}/devlearn-frontend:latest
    ports:
      - "5173:5173" 
    depends_on:
      - backend
    restart: always